[Unit]
Description=Binds filesystems and recovers from hangs using config %I

[Service]
Type=simple

#Config files live in /etc/bindfsit/
ExecStart=/usr/bin/bindfsit.sh /etc/bindfsit/"%i"

[Install]
WantedBy=default.target

